/*
// .site
*/
@import '../variables';


.site {
    height: 100%;
}
.site__container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.site__header {
    flex-shrink: 0;
}
.site__body {
    flex-grow: 1;
}
.site__footer {
    flex-shrink: 0;
}
