/*
// .posts-view
*/
@import '../variables';
@import '../functions';


.posts-view {}
.posts-view__pagination {
    padding-top: 48px;
}

@media (max-width: breakpoint(md-end)) {
    .posts-view__pagination {
        padding-top: 32px;
        padding-bottom: 10px;
    }
}